/*去掉标签的默认样式*/
body, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, li, form, input, textarea, dl, dt, dd, span {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #fff;
}

* {
  font-family: "Microsoft YaHei",sans-serif;
  box-sizing: border-box;
  position: relative;
}

img {
  border: none;
}
/*杂志区*/
.bigbox{
     width:7.5rem;
     height:12rem;
     position: absolute;
     top:1.1rem;
     left: 0;
     background:rgba(3,3,3,0.6);
}
.fu {
  width: 100%;
  height: 3.87rem;
  z-index: -1;
}

.fu .fu1 {
  width: 100%;
  height: 3.72rem;
}

.fu .fu1 .fu11 {
  width: 2.97rem;
  height: 100%;
  float: left;
}

.fu .fu1 .fu11 .fu11tu {
  width: 2.46rem;
  height: 3.5rem;
  position: absolute;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}

.fu .fu1 .fu11 .fu11tu img {
  width: 100%;
}

.fu .fu1 .fu12 {
  width: 4.53rem;
  height: 100%;
  float: left;
}

.fu .fu1 .fu12 .fu12top {
  width: 100%;
  height: 0.68rem;
  box-sizing: border-box;
  padding-top: 0.25rem;
  line-height: 0.43rem;
  color: #292929;
}

.fu .fu1 .fu12 .fu12top2 {
  width: 100%;
  height: 0.22rem;
  box-sizing: border-box;
  padding-left: 0.15rem;
  line-height: 0.22rem;
  color: #8f8f8f;
  font-size: 12px;
}

.fu .fu1 .fu12 .fu12bot {
  width: 100%;
  height: 1.40rem;
  padding-top: 0.17rem;
  padding-left: 0.1rem;
  box-sizing: border-box;
}

.fu .fu1 .fu12 .fu12bot p {
  width: 100%;
  font-size: 12px;
  color: #5d5d5d;
}

.fu .fu1 .fu12 .fu12di1 {
  width: 2.3rem;
  height: auto;
  float: left;
  font-size: 12px;
}

.fu .fu1 .fu12 .fu12di1 .zuo {
  width: 100%;
  height: 0.4rem;
  box-sizing: border-box;
  padding-top: 0.18rem;
  padding-left: 0.1rem;
  line-height: 0.22rem;
  color: #8f8f8f;
}

.fu .fu1 .fu12 .fu12di1 .zishu {
  width: 100%;
  height: 0.3rem;
  box-sizing: border-box;
  padding-left: 0.1rem;
  line-height: 0.3rem;
  color: #8f8f8f;
}

.fu .fu1 .fu12 .fu12di1 .xing {
  width: 100%;
  height: 0.4rem;
}

.fu .fu1 .fu12 .fu12di1 .xing img {
  width: 100%;
}

.fu .fu1 .fu12 .fu12di2 {
  width: 2rem;
  height: 1.1rem;
  padding-top: 0.5rem;
  padding-left: 0.6rem;
  box-sizing: border-box;
  color: #fff;
  line-height: 0.6rem;
  font-size: 10px;
  background: url(../img/c5/b3_10.png);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: contain;
  float: left;
}

.fu .fu2 {
  width: 100%;
  height: 0.15rem;
  background: #e0e0e0;
}

.jianpan {
  width: 100%;
  height: 4.3rem;
  position: absolute;
  left: 0;
  bottom: -1.7rem;
  z-index: 1;
}

.jianpan img {
  width: 100%;
}

/*书架栏*/
.sjxuanze{
	width:7.5rem;
	height:4.16rem;
	background:#fff;
	margin-top:1.1rem;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	position: absolute;
	top:0;
	left: 0;
	z-index: 5;
}
/*搜索框*/
.sjtime{
	width:5.7rem;
	height:0.84rem;
	background:#2a3441;
	border-radius:0.35rem;
	position:absolute;
	top: 0.15rem;
	left: 0;
	right: 0;
	margin: auto;
}
/*综合排序*/
.sjpaixu{
	width:2.4rem;
	height:0.65rem;
	background: #29a6dc;
	box-sizing:border-box;
	border:2px solid #fff;
	border-radius:0.25rem;
	position:absolute;
	left:5px;
	top:0;
	bottom:0;
	margin:auto;
}
.sjzong{
	line-height: 0.3rem;
	text-align: center;
	color: white;
	font-size: 0.10rem;
}
.sjEnglish{
	text-align: center;
	color: white;
	font-size:xx-small;
}
/*线*/
.sjxian{
	width:1px;
	height:0.65rem;
	background: #fff;
    position:absolute;
    top:0.04rem;
    left: 0;
	right: 0;
	margin: auto;  
}

.sjdians{
	width:3px;
	height:3px;
	background:#fff;
	border-radius:50%;
	position:absolute;
	top:0;
	left: -1px;
	}
.sjdianx{
	width:3px;
	height:3px;
	background:#fff;
	border-radius:50%;
	position:absolute;
	bottom:0;
	left: -1px;
}
/*时间排序*/
.sjzi{
	color:#fff;
	position:absolute;
	right:40px;
	top:0;
	bottom:0;
	margin:auto;
	font-size:0.1rem;
}
.sjzimu{
	color:#fff;
	line-height:1rem;
	float: right;
	font-size: 5px;
}
/*书籍样式*/
.sjbox{
	width:7.5rem;
	height:2.48rem;
	background:linear-gradient(to bottom, #F3F3F3 10%,#ffffff 100%);
	position:absolute;
	margin-top:1.2rem;
}
.sjshu{
	width:1.74rem;
	height:0.44rem;
	background:#29A6DC;
	margin-left:0.55rem;
	margin-top:0.15rem;
	margin-bottom:0.15rem;
	border-radius:0.2rem;
	float:left;
	font-size:0.12rem;
	text-align:center;
	line-height:0.45rem;
	color:white ;
}
.sjsjia{
	width:1.74rem;
	height:0.44rem;
	box-sizing:border-box;
	border:1px solid #333333;
	margin-left:0.55rem;
	margin-top:0.15rem;
	margin-bottom:0.15rem;
	border-radius:0.2rem;
	float:left;
	font-size:0.12rem;
	text-align:center;
	line-height:0.45rem;
	color:#333333 ;
}
