@charset "UTF-8";
/*去掉标签的默认样式*/
body, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, li, form, input, textarea, dl, dt, dd, span {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #fff;
}

* {
  font-family: "Microsoft YaHei",sans-serif;
  box-sizing: border-box;
  position: relative;
}

img {
  border: none;
}

/*内宽*/
/*图片路径*/
/*调试块*/
/*上下居中*/
/*左右居中*/
/*居中*/
/*建盒子*/
/*正方形*/
/*圆*/
/*图片居中*/
html {
  font-size: 100px;
}

body {
  font-size: 16px;
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 380px) {
  html {
    font-size: 50.66667px;
  }
}

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 600px) {
  html {
    font-size: 80px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px;
  }
}

.zxj-syyd {
  height: 5.4rem;
  width: 100%;
}

.zxj-sy-yue {
  width: 7rem;
  height: 5.4rem;
  background: #fff;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  margin-top: .1rem;
  border-radius: .15rem;
  box-shadow: 0rem 0rem 0.05rem 0.05rem #f5f9ff;
}

.zxj-sy-yue .zxj-sy-yueleft {
  width: 3.01rem;
  height: 2.54rem;
  margin-top: .5rem;
  margin-left: .3rem;
  background-image: url("../zxjimg/zxj-shu.jpg");
  background-size: cover;
  float: left;
}

.zxj-sy-yue .zxj-sy-yueright {
  float: left;
  width: 3.5rem;
  height: 3.7rem;
  padding-top: .2rem;
  padding-left: .3rem;
}

.zxj-sy-yue .zxj-sy-yueright p:nth-of-type(1) {
  font-size: .3rem;
  color: #313131;
}

.zxj-sy-yue .zxj-sy-yueright p:nth-of-type(2) {
  color: #313131;
}

.zxj-sy-yue .zxj-sy-yueright p:nth-of-type(2) .ZXj-fate {
  font-size: .28rem;
}

.zxj-sy-yue .zxj-sy-yueright p:nth-of-type(2) .zxj-book {
  font-size: .18rem;
}

.zxj-sy-yue .zxj-sy-yueright p:nth-of-type(3) {
  font-size: .24rem;
  color: #595959;
}

.zxj-sy-yue .zxj-sy-yueright p:nth-of-type(4) {
  font-size: .24rem;
  color: #595959;
}

.zxj-sy-yue .zxj-sy-yueright p:nth-of-type(5) {
  width: 1.35rem;
  height: .3rem;
  background: url("../zxjimg/xing.jpg");
  background-size: contain;
}

.zxj-sy-yue .zxj-sy-yueright p:nth-of-type(6) {
  font-size: .2rem;
  color: #cdcdcd;
}

.zxj-sy-yue .zxj-sy-yueright div {
  margin-top: .05rem;
  width: .9rem;
  height: .35rem;
  float: left;
  background: #67e479;
  border-radius: .35rem;
  text-align: center;
  line-height: .35rem;
  font-size: .18rem;
  color: #fff;
  box-shadow: 0rem 0rem 0.05rem 0.05rem #f5f9ff;
}

.zxj-sy-yue .zxj-sy-yueright div:nth-of-type(2) {
  margin-left: .15rem;
}

.zxj-sy-yue .zxj-sy-yueright div:nth-of-type(3) {
  margin-left: .15rem;
}

.zxj-sy-yue .zxj-sy-yuebot {
  margin-top: .1rem;
  width: 2.7rem;
  height: .7rem;
  margin-left: .53rem;
  float: left;
  border-radius: .7rem;
  box-shadow: 0rem 0rem 0.05rem 0.05rem #f5f9ff;
}

.zxj-sy-yue .zxj-sy-yuebot .zxj-sy-yueimg {
  width: .5rem;
  height: .5rem;
  margin-left: .4rem;
  margin-top: .1rem;
  float: left;
}

.zxj-sy-yue .zxj-sy-yuebot .zxj-kan {
  background-image: url("../zxjimg/shuben.jpg");
  background-size: contain;
}

.zxj-sy-yue .zxj-sy-yuebot .zxj-jia {
  background: url("../zxjimg/wenjia.jpg");
  background-size: contain;
}

.zxj-sy-yue .zxj-sy-yuebot span {
  float: left;
  margin-left: .1rem;
  margin-top: .18rem;
  font-size: 0.24rem;
  color: #666;
}

.zxj-sy-yue .zxj-liji {
  width: 2.5rem;
  height: .7rem;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  bottom: 0.1rem;
  background-image: url("../zxjimg/zxj-li.jpg");
  background-size: cover;
}

.zxj-zuixing {
  width: 100%;
  height: auto;
  box-sizing: border-box;
  margin-top: .1rem;
}

.zxj-zuixing .zxj-zxtop {
  margin-top: .5rem;
  height: .5rem;
  width: 2.45rem;
  margin-left: .4rem;
  margin-top: .4rem;
}

.zxj-zuixing .zxj-zxtop1 {
  background-image: url("../zxjimg/zuixing.jpg");
  background-size: cover;
}

.zxj-zuixing .zxj-zxtop2 {
  background-image: url("../zxjimg/wodesq.jpg");
  background-size: cover;
}

.zxj-zuixing .zxj-zxtop3 {
  background-image: url("../zxjimg/wodebji.jpg");
  background-size: cover;
}

.zxj-zuixing .zxj-zxtop4 {
  background-image: url("../zxjimg/xiangsi.jpg");
  background-size: cover;
  margin-bottom: .3rem;
}

.zxj-zxbot {
  width: 7rem;
  height: 1.6rem;
  margin: auto;
  margin-top: .4rem;
  border-radius: .05rem;
  box-shadow: 0rem 0rem 0.05rem 0.05rem #f5f9ff;
}

.zxj-zxbot .zxj-zxbotimg {
  width: .8rem;
  height: .8rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: .25rem;
  border-radius: 50%;
}

.zxj-zxbot .zxj-zxbotimg1 {
  background: url("../zxjimg/ren-1.jpg");
  background-size: contain;
}

.zxj-zxbot .zxj-zxbotimg2 {
  background: url("../zxjimg/nvshu.png");
  background-size: contain;
}

.zxj-zxbot .zxj-zxbotrig {
  width: 5.35rem;
  height: 1rem;
  position: absolute;
  right: .25rem;
  border-bottom: 1px dashed #b5b5b5;
  padding-right: .25rem;
  padding-top: .2rem;
}

.zxj-zxbot .zxj-zxbotrig p {
  font-size: .22rem;
  color: #cdcdcd;
}

.zxj-zxbot .zxj-zxbotrig p .zxj-xiao {
  display: block;
  width: .3rem;
  height: .3rem;
  background: url("../zxjimg/xiao.jpg");
  background-size: cover;
  position: absolute;
  right: 1.6rem;
  bottom: 0rem;
}

.zxj-sy-ckqb {
  width: 100%;
  height: .8rem;
}

.zxj-sy-ckqb .zxj-sy-ckqbcen {
  width: 2.2rem;
  height: .4rem;
  background: url("../zxjimg/qbfl.png");
  background-size: contain;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  bottom: 0;
}

.zxj-sy-ckqb .zxj-sy-ckqbcen .zxj-sy-ckqbcenzi {
  width: 2.2rem;
  height: .4rem;
  border-radius: .4rem;
  font-size: .24rem;
  color: #fff;
  text-align: center;
  line-height: .4rem;
}

.zxj-shijian {
  width: 2rem;
  height: .4rem;
}

.zxj-shijian .zxj-shijianbg {
  float: left;
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  box-shadow: 0rem 0rem 0.05rem 0.05rem #f5f9ff;
}

.zxj-shijian .zxj-shijianbg .zxj-shijianbiao {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.zxj-shijian .zxj-shijianbg .sjb-1 {
  width: .17rem;
  height: .17rem;
  background: url("../zxjimg/shijian1.png");
  background-size: cover;
}

.zxj-shijian .zxj-shijianbg .sjb-2 {
  width: .2rem;
  height: .15rem;
  background: url("../zxjimg/xin.jpg");
  background-size: contain;
}

.zxj-shijian .zxj-shijianzi {
  margin-left: .1rem;
  font-size: .18rem;
  float: left;
  line-height: .4rem;
  color: #a4a1a1;
}

.zxj-shijian1 {
  position: absolute;
  top: 1.1rem;
  left: 1.3rem;
}

.zxj-shijian2 {
  position: absolute;
  top: 1.1rem;
  right: 0;
}

.zxj-shijian3 {
  position: absolute;
  bottom: .05rem;
  right: .4rem;
}

.tianjia {
  width: 7rem;
  height: .85rem;
  margin: auto;
  margin-top: .4rem;
  border-radius: .05rem;
  box-shadow: 0rem 0rem 0.05rem 0.05rem #f5f9ff;
}

.tianjia .tianjia-img {
  width: 1.9rem;
  height: .85rem;
  margin: auto;
  padding: .225rem 0;
  vertical-align: middle;
}

.tianjia .tianjia-img .tianjia-sq {
  width: .4rem;
  height: .4rem;
  background-image: url("../zxjimg/tianjia.jpg");
  background-size: contain;
  float: left;
}

.tianjia .tianjia-img .tianjia-zi {
  height: .4rem;
  line-height: .4rem;
  margin-left: .05rem;
  float: left;
  font-size: .24rem;
}

.zxj-sy-wdsq {
  width: 100%;
  padding: .2rem 1.2rem .4rem 1.4rem;
  border-bottom: 0.01rem dashed #999;
}

.zxj-sy-wdsq p:nth-of-type(1) {
  font-size: .24rem;
  color: #151c2b;
}

.zxj-sy-wdsq p:nth-of-type(2) {
  font-size: .18rem;
  color: #999;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zxj-sy-wdsq .zxj-sy-wdsqlogo {
  width: .75rem;
  height: .75rem;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: .5rem;
  background-image: url("../zxjimg/zhechi.png");
  background-size: contain;
}

.zxj-sy-wdsq .zxj-sy-wdsqy {
  right: .5rem;
}

.zxj-sy-wdsqb, .zxj-sy-wdsqy {
  width: 1rem;
  height: .3rem;
  position: absolute;
  bottom: .1rem;
}

.zxj-sy-wdsqb .zxj-sy-wdsqb1, .zxj-sy-wdsqy .zxj-sy-wdsqb1 {
  margin-top: .05rem;
  width: .2rem;
  height: .2rem;
  background-image: url("../zxjimg/shijian1.png");
  background-size: contain;
  float: left;
}

.zxj-sy-wdsqb .zxj-sy-wdsqy1, .zxj-sy-wdsqy .zxj-sy-wdsqy1 {
  margin-top: .1rem;
  width: .18rem;
  height: .1rem;
  background-image: url("../zxjimg/yanjing.png");
  background-size: contain;
  float: left;
}

.zxj-sy-wdsqb .zxj-sy-wdsqbzi, .zxj-sy-wdsqy .zxj-sy-wdsqbzi {
  height: .3rem;
  line-height: .3rem;
  font-size: 0.14rem;
  margin-left: .05rem;
  float: left;
  color: #a4a1a1;
}

.zxj-sy-wdbj {
  width: 7rem;
  padding: .2rem .7rem .2rem .5rem;
  margin: auto;
  margin-top: .4rem;
  border-radius: .05rem;
  box-shadow: 0rem 0rem 0.05rem 0.05rem #f5f9ff;
}

.zxj-sy-wdbj p {
  font-size: .22rem;
  color: #666;
}

.zxj-sy-wdbj .zxj-sy-wdsqyuan {
  width: .1rem;
  height: .1rem;
  border-radius: 50%;
}

.zxj-sy-wdbj .wdsqyuan1 {
  background: #d8e637;
  position: absolute;
  left: .2rem;
  top: .15rem;
}

.zxj-sy-wdbj .wdsqyuan2 {
  background: #f45e40;
  position: absolute;
  left: .35rem;
  top: .15rem;
}

.zxj-zuixing4 .zxj-xiangsi {
  width: 7.2rem;
  padding-top: .3rem;
  margin: auto;
  height: 4rem;
  overflow: hidden;
}

.zxj-zuixing4 .zxj-xiangsi ul {
  width: 23rem;
  height: auto;
}

.zxj-zuixing4 .zxj-xiangsi ul li {
  width: 2.3rem;
  height: 3.4rem;
  float: left;
}

.zxj-zuixing4 .zxj-xiangsi ul li .zxj-xsbg {
  width: 2.2rem;
  height: 3.1rem;
  border-radius: .05rem;
  box-shadow: 0rem 0rem 0.03rem 0.03rem #eee;
}

.zxj-zuixing4 .zxj-xiangsi ul li .zxj-xsbg .zxj-xsshu {
  width: 1.8rem;
  height: 2.4rem;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  background-image: url("../zxjimg/shutop.jpg");
  background-size: contain;
  top: -0.15rem;
}

.zxj-zuixing4 .zxj-xiangsi ul li .zxj-xsbg .zxj-xsshuzi {
  width: 2.2rem;
  height: .4rem;
  position: absolute;
  top: 2.4rem;
}

.zxj-zuixing4 .zxj-xiangsi ul li .zxj-xsbg .zxj-xsshuzi p:nth-of-type(1) {
  font-size: .2rem;
  text-align: center;
}

.zxj-zuixing4 .zxj-xiangsi ul li .zxj-xsbg .zxj-xsshuzi p:nth-of-type(2) {
  font-size: .14rem;
  text-align: center;
}

.zxj-qbspbot {
  height: 1.3rem;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #151c2b;
}

.zxj-qbspbot img {
  width: 2rem;
  height: .98rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.zxj-qbspbot .qbspbot-zi {
  width: 1.8rem;
  height: .8rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: .2rem;
  text-align: center;
  line-height: .8rem;
}

.zxj-fbpl-top {
  height: .9rem;
  width: 100%;
  background: #29a6dc;
}

.zxj-fbpl-top .zxj-fan {
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: .3rem;
  background-image: url("../zxjimg/fanhui.png");
  background-size: cover;
}

.zxj-fbpl-top .zxj-fbpl-topwy {
  width: 1.8rem;
  height: .6rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../zxjimg/wypl.png");
  background-size: contain;
}

.zxj-fbpl-top .zxj-fbpl-shuguan {
  width: 1.8rem;
  height: .6rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../zxjimg/shuguan.png");
  background-size: contain;
}

.zxj-fbpl-top .zxj-fbpl-biguan {
  width: 1.8rem;
  height: .6rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../zxjimg/biguan.png");
  background-size: contain;
}

.zxj-fbpl-top .zxj-fbpl-notes {
  width: 1.4rem;
  height: .6rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../zxjimg/My-notes.png");
  background-size: cover;
}

.zxj-fbpl-wu {
  width: 100%;
  height: 1.6rem;
  border-bottom: .02rem solid #000;
}

.zxj-fbpl-wu ul {
  width: 5.6rem;
  height: .8rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.zxj-fbpl-wu ul li {
  width: .8rem;
  height: .8rem;
  margin-right: .4rem;
  float: left;
  background-image: url("../zxjimg/wuxing.png");
  background-size: contain;
}

.zxj-fbpl-wu ul li:nth-of-type(5) {
  margin-right: 0;
}

.zxj-fbpl-zi {
  margin: auto;
  margin-top: .4rem;
  width: 7rem;
  height: 3.5rem;
  box-shadow: 0rem 0rem 0.03rem 0.03rem #eee;
}

.zxj-fbpl-zi textarea {
  display: block;
  width: 7rem;
  height: 3.5rem;
  padding: 0.1 .2rem;
  border: none;
  outline: none;
  font-size: .26rem;
}

.zxj-fbpl img {
  width: 100%;
  height: 4.3rem;
  position: fixed;
  bottom: 0;
}

.zxj-fbpl-bg {
  overflow: hidden;
  width: 100%;
  height: 100%;
  background-image: url("../zxjimg/bg.png");
  background-size: cover;
  position: fixed;
  top: 0;
}

.zxj-fbpl-bg .zxj-fbpl-tc {
  width: 4.9rem;
  height: 3rem;
  border-radius: .2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../zxjimg/tankuang.png");
  background-size: cover;
}

.zxj-fbpl-bg .zxj-fbpl-tc .zxj-fbpl-zhuang {
  width: 1.65rem;
  height: .45rem;
  margin-top: .15rem;
  margin-left: .5rem;
  background-image: url("../zxjimg/zhuang.png");
  background-size: cover;
}

.zxj-fbpl-bg .zxj-fbpl-tc .zxj-fbpl-tanzi {
  width: 2rem;
  height: 1.2rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  color: #666;
}

.zxj-fbpl-bg .zxj-fbpl-tc .zxj-fbpl-tanzi p:nth-of-type(1) {
  text-align: center;
  font-size: .28rem;
  line-height: .5rem;
}

.zxj-fbpl-bg .zxj-fbpl-tc .zxj-fbpl-tanzi .zxj-wang {
  text-align: center;
  font-size: .28rem;
  line-height: .3rem;
}

.zxj-fbpl-bg .zxj-fbpl-tc .zxj-fbpl-tanzi .zxj-success {
  line-height: .4rem;
  text-align: center;
  font-size: .18rem;
  font-family: 'sanFranciscoDisplay Medium';
}

.zxj-fbpl-bg .zxj-fbpl-tc .zxj-fbpl-qux {
  width: 2rem;
  height: .6rem;
  position: absolute;
  bottom: .2rem;
  left: .3rem;
  background-image: url("../zxjimg/plbj1.png");
  background-size: cover;
}

.zxj-fbpl-bg .zxj-fbpl-tc .zxj-fbpl-qued {
  width: 2rem;
  height: .6rem;
  position: absolute;
  bottom: .2rem;
  right: .3rem;
  background-image: url("../zxjimg/plbj1.png");
  background-size: cover;
}

.zxj-fbpl-bg .zxj-fbpl-tc .zxj-fbpl-qux1 {
  width: 2rem;
  height: .6rem;
  border-radius: .6rem;
  text-align: center;
  line-height: .6rem;
  color: #28dd8b;
}

.zxj-fbpl-bg .zxj-fbpl-tc .zxj-fbpl-qux:hover {
  background-image: url("../zxjimg/plcg.png");
}

.zxj-fbpl-bg .zxj-fbpl-tc .zxj-fbpl-qux:hover .zxj-fbpl-qux1 {
  color: #fff;
}

.zxj-fbpl-bg .zxj-fbpl-tc .zxj-fbpl-qued:hover {
  background-image: url("../zxjimg/plcg.png");
}

.zxj-fbpl-bg .zxj-fbpl-tc .zxj-fbpl-qued:hover .zxj-fbpl-qux1 {
  color: #fff;
}

.zxj-sy-wdsqshan {
  width: 100%;
  height: 1.3rem;
}

.zxj-sy-wdsqshan img {
  width: 100%;
  height: 1.3rem;
}

.zxj-sy-wdsqshan .zxj-sy-shancen {
  width: 100%;
  height: 1.3rem;
  position: absolute;
  top: 0;
  padding: .1rem 2rem .5rem .5rem;
}

.zxj-sy-wdsqshan .zxj-sy-shancen .zxj-cuo {
  width: .4rem;
  height: .4rem;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: .27rem;
}

.zxj-sy-wdsqshan .zxj-sy-shancen p:nth-of-type(1) {
  font-size: .24rem;
  color: #fff;
}

.zxj-sy-wdsqshan .zxj-sy-shancen p:nth-of-type(2) {
  font-size: .16rem;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.zxj-sy-wdsqshan .zxj-sy-wdsqb2 {
  background-image: url("../zxjimg/shijian2.png");
  background-size: cover;
}

.zxj-sy-wdsqshan .zxj-sy-wdsqy2 {
  background-image: url("../zxjimg/yan2.png");
  background-size: cover;
}

.zxj-sy-wdsqshan .zxj-sy-wdsqbzi1 {
  color: #fff;
}

.zxj-sy-wdsqyshan {
  position: absolute;
  bottom: .1rem;
  right: 1.5rem;
}

.zxj-bj-data {
  width: 100%;
  height: .5rem;
  padding: 0 .4rem;
  padding-top: .1rem;
}

.zxj-bj-data .zxj-bj-datac {
  width: .3rem;
  height: .3rem;
  background-image: url("../zxjimg/Calendar.png");
  background-size: cover;
  float: left;
}

.zxj-bj-data .zxj-bj-datazi {
  margin-left: .05rem;
  float: left;
  font-size: .22rem;
  color: #999;
}

.zxj-bj-middle {
  width: 7rem;
  height: 3.25rem;
  box-shadow: 0rem 0rem 0.03rem 0.05rem #eee;
  margin: 0 auto;
  padding: 0 .35rem 0 .2rem;
  font-size: .24rem;
  color: #333;
  border-radius: .05rem;
}

.zxj-bj-bianji {
  width: 7rem;
  height: 1rem;
  box-shadow: 0rem 0rem 0.03rem 0.05rem #eee;
  margin: .2rem auto;
  padding: 0.05rem .35rem 0 .2rem;
  font-size: .24rem;
  color: #999;
  border-radius: .05rem;
}

.zxj-bj-anniu {
  width: 5.2rem;
  height: 1.1rem;
  margin: auto;
}

.zxj-bj-anniu .zxj-bj-anniuleft {
  width: 1.6rem;
  height: .6rem;
  border-radius: .7rem;
  float: left;
  margin-top: .5rem;
  background-image: url("../zxjimg/zxj-anniu1.png");
  background-size: contain;
  text-align: center;
  line-height: .6rem;
  color: #fff;
  font-size: .24rem;
}

.zxj-bj-anniu .zxj-bj-anniurig {
  width: 1.6rem;
  height: .6rem;
  float: right;
  border-radius: .7rem;
  margin-top: .5rem;
  background-image: url("../zxjimg/zxj-anniu2.png");
  background-size: contain;
  text-align: center;
  line-height: .6rem;
  color: #fff;
  font-size: .24rem;
}

.zxj-fbpl-allbooks {
  width: 1.5rem;
  height: .6rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-image: url("../zxjimg/All-books.png");
  background-size: cover;
}
