@charset "UTF-8";
/*去掉标签的默认样式*/
body, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, li, form, input, textarea, dl, dt, dd, span {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

a {
  text-decoration: none; }

body {
  background: #fff; }

* {
  font-family: "Microsoft YaHei",sans-serif;
  box-sizing: border-box;
  position: relative; }

img {
  border: none; }

/*内宽*/
/*图片路径*/
/*调试块*/
/*上下居中*/
/*左右居中*/
/*居中*/
/*建盒子*/
/*正方形*/
/*圆*/
/*图片居中*/
html {
  font-size: 100px; }

body {
  font-size: 16px; }

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px; } }

@media screen and (min-width: 360px) {
  html {
    font-size: 48px; } }

@media screen and (min-width: 375px) {
  html {
    font-size: 50px; } }

@media screen and (min-width: 380px) {
  html {
    font-size: 50.66667px; } }

@media screen and (min-width: 384px) {
  html {
    font-size: 51.2px; } }

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px; } }

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px; } }

@media screen and (min-width: 600px) {
  html {
    font-size: 80px; } }

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px; } }

@media screen and (min-width: 800px) {
  html {
    font-size: 106.66667px; } }

a {
  display: block; }

.C6header {
  width: 100%;
  height: 1.4rem;
  position: relative;
  background: #29a6dc; }
  .C6header .return {
    width: 0.52rem;
    height: 0.51rem;
    position: absolute;
    background-image: url("../img/c5/b2_03.png");
    background-size: cover;
    bottom: 0.2rem;
    left: 0.25rem;
    display: block;
    z-index: 100; }
  .C6header .yuyin {
    width: 0.5rem;
    height: 0.5rem;
    background-image: url("../img/c4/b_06.png");
    background-size: contain;
    position: absolute;
    right: 0.38rem;
    bottom: 0.2rem; }
  .C6header .tip {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    color: #fff;
    font-size: 0.36rem;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto; }
    .C6header .tip p:nth-of-type(1) {
      margin-top: 0.5rem; }
    .C6header .tip .hx {
      width: 0.34rem;
      height: 0.03rem;
      background-image: url("../img/c5/c5_1.jpg");
      background-size: contain;
      left: 0;
      right: 0;
      margin: auto;
      position: absolute;
      margin-top: 0.02rem; }
    .C6header .tip p:nth-of-type(3) {
      margin-top: 0.06rem;
      font-size: 0.18rem;
      color: #a3e3ff; }

.C6nav {
  width: 100%;
  height: 1.1rem;
  position: relative;
  background: #f2f2f2; }
  .C6nav .navIn {
    width: 5.71rem;
    height: 0.84rem;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background-image: url(../img/c5/c1_03.png);
    background-size: contain;
    margin-top: 0.25rem; }
    .C6nav .navIn .sx1 {
      width: 0.03rem;
      height: 0.59rem;
      z-index: 1000;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 33.34%; }
    .C6nav .navIn .sx2 {
      width: 0.03rem;
      height: 0.59rem;
      z-index: 1100;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      left: 66.67%; }
    .C6nav .navIn .list {
      width: 33.33%;
      height: 100%;
      float: left;
      position: relative; }
      .C6nav .navIn .list .boxbg {
        width: 1.65rem;
        height: 0.7rem;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background-size: contain; }
        .C6nav .navIn .list .boxbg p:nth-of-type(1) {
          left: 0;
          right: 0;
          margin: auto;
          position: absolute;
          font-size: 0.24rem;
          color: #fff;
          text-align: center;
          margin-top: 0.13rem; }
        .C6nav .navIn .list .boxbg p:nth-of-type(2) {
          width: 100%;
          left: 0;
          right: 0;
          margin: auto;
          position: absolute;
          font-size: 0.12rem;
          color: #bddbe8;
          left: 0;
          right: 0;
          margin: auto;
          position: absolute;
          text-align: center;
          white-space: nowrap;
          margin-top: 0.4rem;
          transform: scale(0.6); }
    .C6nav .navIn .list:nth-child(2) .boxbg {
      background-image: url(../img/c5/c_03.png); }
      .C6nav .navIn .list:nth-child(2) .boxbg p:nth-of-type(2) {
        margin-left: -0.2rem; }

.fu {
  width: 100%;
  height: 3.87rem; }
  .fu .fu1 {
    width: 100%;
    height: 3.72rem; }
    .fu .fu1 .fu11 {
      width: 2.97rem;
      height: 100%;
      float: left; }
      .fu .fu1 .fu11 .fu11tu {
        width: 2.46rem;
        height: 3.5rem;
        position: absolute;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        margin: auto;
        position: absolute;
        background: url("../img/c5/b3_07.png") no-repeat;
        background-size: cover; }
    .fu .fu1 .fu12 {
      width: 4.53rem;
      height: 100%;
      float: left; }
      .fu .fu1 .fu12 .fu12top {
        width: 100%;
        height: 0.68rem;
        box-sizing: border-box;
        padding-top: 0.25rem;
        line-height: 0.43rem;
        color: #292929; }
      .fu .fu1 .fu12 .fu12top2 {
        width: 100%;
        height: 0.22rem;
        box-sizing: border-box;
        padding-left: 0.15rem;
        line-height: 0.22rem;
        color: #8f8f8f;
        font-size: 12px; }
      .fu .fu1 .fu12 .fu12bot {
        width: 100%;
        height: 1.40rem;
        padding-top: 0.17rem;
        padding-left: 0.1rem;
        box-sizing: border-box; }
        .fu .fu1 .fu12 .fu12bot p {
          width: 100%;
          font-size: 12px;
          color: #5d5d5d; }
      .fu .fu1 .fu12 .fu12di1 {
        width: 2.3rem;
        height: auto;
        float: left;
        font-size: 12px; }
        .fu .fu1 .fu12 .fu12di1 .zuo {
          width: 100%;
          height: 0.4rem;
          box-sizing: border-box;
          padding-top: 0.18rem;
          padding-left: 0.1rem;
          line-height: 0.22rem;
          color: #8f8f8f; }
        .fu .fu1 .fu12 .fu12di1 .zishu {
          width: 100%;
          height: 0.3rem;
          box-sizing: border-box;
          padding-left: 0.1rem;
          line-height: 0.3rem;
          color: #8f8f8f; }
        .fu .fu1 .fu12 .fu12di1 .xing {
          width: 100%;
          height: 0.4rem;
          background: url("../img/c5/c5.jpg") no-repeat;
          background-size: cover; }
      .fu .fu1 .fu12 .fu12di2 {
        width: 2rem;
        height: 1.1rem;
        padding-top: 0.5rem;
        padding-left: 0.6rem;
        box-sizing: border-box;
        color: #fff;
        line-height: 0.6rem;
        font-size: 10px;
        background: url(../img/c5/b3_10.png);
        background-position: left bottom;
        background-repeat: no-repeat;
        background-size: contain;
        float: left; }
  .fu .fu2 {
    width: 100%;
    height: 0.15rem;
    background: #e0e0e0; }

.jianpan {
  width: 100%;
  height: 4.3rem;
  position: absolute;
  left: 0;
  bottom: 0;
  background: url("../img/c5/b2_29.png") no-repeat;
  background-size: cover; }
