@import "../../css/dev/base.scss";
@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'),
  url('iconfont.woff') format('woff'),
  url('iconfont.ttf') format('truetype'),
  url('iconfont.svg#iconfont') format('svg');
}
a{color: #fff;}
/*tou1 */
#top{
    width:100%;
    height:1.4rem;
    background:#29a6dc;
    position:relative;
    .baolist{
        width:5.72rem;
        height:0.8rem;
        background:#2a3441;
        margin:auto;
        position:absolute;
        left:0;
        right:0;
        top:0.48rem;
        border-radius: 0.4rem;
        li{
            width:33.3333%;
            height:100%;
            float:left;
//          background: red;
            position:relative;
            color:#fff;
//          line-height:0.6rem;
            text-align: center;
            font-size:14px;
//          border-radius: 0.4rem;
          .bk{
             width:1.66rem;
             height: 0.66rem;
//           background:blue;
             border-radius: 0.4rem;
             position:absolute;
             top:0;
             left:0;
             bottom:0;
             right:0;
             margin:auto; 
            
             span:nth-of-type(1){
                 display:block;
                 font-size:0.24rem;
             }
             span:nth-of-type(2){
                 font-size:0.14rem;
                 opacity:0.7;
                 display: block;
                 margin-top:-0.04rem;
                 color:#fff;
                 
             } 
             
          }
          .bian{
              width:0.05rem;
              height:0.59rem;
              position: absolute;
//            background: red;
              right:-0.04rem;
              top:0.13rem;
              .topyuan{
                  width:0.06rem;
                  height:0.06rem;
                  background: #fff;
                  position: absolute;
                  top:0;
                  left:-0.02rem;
                  border-radius: 50%;
              }
              .middle{
                  width:0.02rem;
                  height:0.53rem;
                  background: #fff;
                  position:absolute;
                  top:0.02rem;
                  left:0rem;
              }
              .bottomyuan{
                  width:0.06rem;
                  height:0.06rem;
                  background: #fff;
                  position: absolute;
                  left:-0.02rem;
                  border-radius: 50%;
                  bottom:0;
              }
              
          }
          .blue{
              background:#29a6dc;
              border:0.02rem solid #fff;
              .yuan{
                 width:0.03rem;
                 height:0.03rem;
                 position: absolute;
                 top:0.2rem;
                 
                 background: #fff;
             }
             .yuan:nth-of-type(1){
                 left:0.32rem;
             }
             .yuan:nth-of-type(2){
                 right:0.32rem;
             }
             .yuan:nth-of-type(3){
                 right:0.26rem;
             }
          }
        }
    }
    .sou{
        width: 0.46rem;
        height: 0.46rem;
        position: absolute;
        top: 0.68rem;
        right: 0.21rem;
        background: url('../img/c1/b_06.png') no-repeat;
        background-size: cover;
    }
}
/*banner */
.ban{
    width: 100%;
    height: 4.8rem;
    background: green;
    overflow: hidden;
    background: url('../img/c1/c1_07.png') no-repeat;
    background-size:cover;
    box-shadow: 0px 1px 0.2rem rgba(0,0,0,0.5);  

}
.dian{
    width: 100%;
    height: 0.26rem;
    ul{
        width: 0.5rem;
        height: 0.1rem;
        position: absolute;
        @include top-bottom;
        @include left-right;
        li{
            width: 0.1rem;
            height: 0.1rem;
            border-radius: 50%;
            background: #0094fb;
            position: absolute;
            @include top-bottom;           
        }
        li:nth-of-type(1){
            left: 0;
        }
        li:nth-of-type(2){
            @include left-right;
        }
        li:nth-of-type(3){
            right: 0;
        }        
    }
}
//最新
.newtop{
    width: 100%;
    height: 0.89rem;
    padding: 0 0.38rem;
    box-sizing: border-box;
    .title{
        width: 1.95rem;
        height: 0.53rem;
        overflow: hidden;
        background: url('../img/c1/c1_11.png') no-repeat;
        background-size:cover;
    }
}
.bot1{
    width: 100%;
    height: 3.75rem; 
    box-sizing: border-box;
    margin-bottom: 0.4rem;  
    .bot11{
        position: absolute;
        width: 1.8rem;
        height: 100%;
        .bot11tu1{
            width: 100%; 
            height: 2.57rem;
            background: url('../img/c1/c1_15.png') no-repeat;
            background-size:cover;
        }
        .bot11tu2{
            width: 100%; 
            height: 2.57rem;
            background: url('../img/c1/c1_19.png') no-repeat;
            background-size:cover;
        }
        p{ 
            width: 100%;
            font-size: 0.22rem;
        }
        p:nth-of-type(1){
            color: #3D3D3D;
        }
        .p2{
           color: #3D3D3D; 
        }
        p:nth-of-type(3){
            color: #b0b0b0;
        }
        .p3{
           color: #b0b0b0; 
        }
    }
    .bot11:nth-of-type(1){
        left: 0.5rem;
    }   
    .bot11:nth-of-type(2){
        @include left-right;
    }   
    .bot11:nth-of-type(3){
        right: 0.5rem;
    }   
}
.bot2{
    width: 100%;
    height: 1rem;
}
/*wei*/
#footer{
    width:100%;
    height: 1rem;
    background: #151c2b;
    position: fixed;
    bottom:0;
    .list-icon{
        width:33.333333%;
        height:100%;
        float:left;
//      background: red;
        text-align: center;
        position: relative;
        color:#646567;
        .iconfont{
            font-family: 'iconfont'!important;
            font-size:0.4rem;
            display: block;
            margin:auto;
            margin-top:0.1rem;
        }
        .zi{ 
            font-size:0.24rem;
        }
    }
    .selected-di{
         color:#fff;
    }
    
}