@import "../../css/dev/base.scss";
.zxj-fbpl-top {
    height: .9rem;
    width: 100%;
    background: #29a6dc;
     .zxj-fan {
        width: .5rem;
        height: .5rem;
        border-radius: 50%;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        left: .3rem;
        background-image: url(../img/c4/fanhui.png);
        background-size: cover;
    }
}
.zxj-syyd{
    height: 5.4rem;
    width: 100%;
}
.zxj-sy-yue{
    width: 7rem;
    height: 5.4rem;
    background: #fff;
    @include left-right;
    margin-top: .1rem;
    border-radius: .15rem;
    box-shadow: 0rem 0rem 0.05rem 0.05rem #f5f9ff;
    .zxj-sy-yueleft{
        width:3.01rem;
        height: 2.54rem;
        margin-top: .5rem;
        margin-left: .3rem;
        background-image: url(../img/c4/zxj-shu.jpg);
        background-size: cover;
        float: left;
    }
    .zxj-sy-yueright{
        float: left;
        width: 3.5rem;
        height: 3.7rem;
        padding-top: .2rem;
        padding-left: .3rem;
        p:nth-of-type(1){
            font-size: .3rem;
            color: #313131;
        }
        p:nth-of-type(2){
            color: #313131;
            .ZXj-fate{
                font-size: .28rem;
            }
            .zxj-book{
                font-size: .18rem;
            }
        }
        p:nth-of-type(3){
            font-size: .24rem;
            color: #595959;
        }
        p:nth-of-type(4){
            font-size: .24rem;
            color: #595959;
        }
        p:nth-of-type(5){
            width: 1.35rem;
            height: .3rem;
            background:url(../img/c4/xing.jpg);
            background-size: contain;
        }
        p:nth-of-type(6){
            font-size: .2rem;
            color: #cdcdcd;
        }
        div{
            margin-top: .05rem;
            width: .9rem;
            height: .35rem;
            float: left;
            background: #67e479;
            border-radius:.35rem ;
            text-align: center;
            line-height: .35rem;
            font-size: .18rem;
            color: #fff;
            box-shadow: 0rem 0rem 0.05rem 0.05rem #f5f9ff;
        }
        div:nth-of-type(2){
            margin-left: .15rem;
        }
        div:nth-of-type(3){
            margin-left: .15rem;
        }
    }
    .zxj-sy-yuebot{
        margin-top: .1rem;
        width: 2.7rem;
        height: .7rem;
        margin-left: .53rem;
        float: left;
        border-radius: .7rem;
        box-shadow: 0rem 0rem 0.05rem 0.05rem #f5f9ff;
        .zxj-sy-yueimg{
            width: .5rem;
            height: .5rem;
            margin-left: .4rem;
            margin-top: .1rem;
            float: left;
        }
        .zxj-kan{
            background-image: url(../img/c4/shuben.jpg);
            background-size: contain;
        }
        .zxj-jia{
            background: url(../img/c4/wenjia.jpg);
            background-size: contain;
        }
        span{
            float: left;
            margin-left: .1rem;
            margin-top: .18rem;
            font-size: 0.24rem;
            color: #666;
        }
    }
    .zxj-liji{
        width: 2.5rem;
        height: .7rem;
        @include left-right;
        bottom: 0.1rem;
        background-image: url(../img/c4/zxj-li.jpg);
        background-size: cover;
    }
}

.zxj-zuixing{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin-top:.1rem;
    .zxj-zxtop{
        margin-top: .5rem;
        height: .5rem;
        width: 2.45rem;
        margin-left: .4rem;
        margin-top:.4rem;
    }
    .zxj-zxtop1{
        background-image: url(../img/c4/zuixing.jpg);
        background-size: cover;
    }
    .zxj-zxtop2{
        background-image: url(../img/c4/wodesq.jpg);
        background-size: cover;
    }
    .zxj-zxtop3{
        background-image: url(../img/c4/wodebji.jpg);
        background-size: cover;
    }
    .zxj-zxtop4{
        background-image: url(../img/c4/xiangsi.jpg);
        background-size: cover;
        margin-bottom: .3rem;
    }

}


//书评
.zxj-zxbot{
    width: 7rem;
    height:1.6rem;
    margin: auto;
    margin-top: .4rem;
    border-radius: .05rem;
    box-shadow: 0rem 0rem 0.05rem 0.05rem #f5f9ff;
    .zxj-zxbotimg{
        width: .8rem;
        height: .8rem;
        @include top-bottom;
        left: .25rem;
        border-radius: 50%;
    }
    .zxj-zxbotimg1{
        background: url(../img/c4/ren-1.jpg);
        background-size: contain;
    }
    .zxj-zxbotimg2{
        background: url(../img/c4/nvshu.png);
        background-size: contain;
    }
    .zxj-zxbotrig{
        width: 5.35rem;
        height: 1rem;
        position: absolute;
        right: .25rem;
        border-bottom:1px dashed #b5b5b5;
        padding-right: .25rem;
        padding-top: .2rem;
        p{
            font-size: .22rem;
            color: #cdcdcd;
            .zxj-xiao{
                display: block;
                width: .3rem;
                height: .3rem;
                background: url(../img/c4/xiao.jpg);
                background-size: cover;
                position: absolute;
                right: 1.6rem;
                bottom: 0rem;
            }
        }
    }
    
}

//查看全部
.zxj-sy-ckqb{
    width: 100%;
    height: .8rem;
    .zxj-sy-ckqbcen{
        width: 2.2rem;
        height: .4rem;
        background: url(../img/c4/qbfl.png);
        background-size: contain;
        @include left-right;
        bottom: 0;
        .zxj-sy-ckqbcenzi{
            width: 2.2rem;
            height: .4rem;
            border-radius: .4rem;
            font-size: .24rem;
            color: #fff;
            text-align: center;
            line-height: .4rem;
        }
    }
}

//时间
.zxj-shijian{
    width: 2rem;
    height: .4rem; 
    .zxj-shijianbg{
        float: left;
        width: .4rem;
        height: .4rem;
        border-radius:50%;
        box-shadow: 0rem 0rem 0.05rem 0.05rem #f5f9ff;
        .zxj-shijianbiao{
            @include center;
            margin: auto;
        }
        .sjb-1{
            width: .17rem;
            height: .17rem;
            background: url(../img/c4/shijian1.png);
            background-size: cover;
        }
        .sjb-2{
            width: .2rem;
            height: .15rem;
            background: url(../img/c4/xin.jpg);
            background-size: contain;
        }
    }
    .zxj-shijianzi{
        margin-left: .1rem;
        font-size: .18rem;
        float: left;
        line-height: .4rem;
        color: #a4a1a1;
    }
}
.zxj-shijian1{
    position: absolute;
    top: 1.1rem;
    left:1.3rem;
}
.zxj-shijian2{
    position: absolute;
    top: 1.1rem;
    right: 0;
}
.zxj-shijian3{
    position: absolute;
    bottom:.05rem;
    right: .4rem;
}

//添加书签
.tianjia{
    width: 7rem;
    height: .85rem;
    margin: auto;
    margin-top: .4rem;
    border-radius: .05rem;
    box-shadow: 0rem 0rem 0.05rem 0.05rem #f5f9ff;
    .tianjia-img{
        width: 1.9rem;
        height: .85rem;
        margin:auto;
        padding:.225rem 0;
        vertical-align: middle;
        .tianjia-sq{
            width: .4rem;
            height: .4rem;
            background-image: url(../img/c4/tianjia.jpg);
            background-size: contain;
            float: left;
        }
        .tianjia-zi{
            height: .4rem;
            line-height: .4rem;
            margin-left: .05rem;
            float: left;
            font-size: .24rem;
        }
    }
}
//我的书签
.zxj-sy-wdsq{
    width: 100%;
    padding: .2rem 1.2rem .4rem 1.4rem;
    border-bottom: 0.01rem dashed #999;
    p:nth-of-type(1){
        font-size: .24rem;
        color: #151c2b;
    }
    p:nth-of-type(2){
        font-size: .18rem;
        color: #999;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .zxj-sy-wdsqlogo{
        width: .75rem;
        height: .75rem;
        @include top-bottom;
        left: .5rem;
        background-image: url(../img/c4/zhechi.png);
        background-size: contain;
    }
    .zxj-sy-wdsqy{
        right: .5rem;
    }
}

.zxj-sy-wdsqb,.zxj-sy-wdsqy{
    width: 1rem;
    height: .3rem;
    position: absolute;
    bottom: .1rem;
    .zxj-sy-wdsqb1{
        margin-top: .05rem;
        width: .2rem;
        height: .2rem;
        background-image: url(../img/c4/shijian1.png);
        background-size: contain;
        float: left;
    }
    .zxj-sy-wdsqy1{
        margin-top: .1rem;
        width: .18rem;
        height: .1rem;
        background-image: url(../img/c4/yanjing.png);
        background-size: contain;
        float: left;
    }
    .zxj-sy-wdsqbzi{
        height: .3rem;
        line-height: .3rem;
        font-size: 0.14rem;
        margin-left: .05rem;
        float: left;
        color: #a4a1a1;
    }
}